<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel=" stylesheet" href="../static/style.css">
    <title>Corona Predictor</title>
</head>

<body>
    <style>
        input.sub{
            background-color: rgb(0, 102, 255);
            color:white;
            padding: 5px 5px;
            margin: 5px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h2>Foto</h2>
            </div>
            <div class="card-body">
                <div class="card-content text-center">

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                    {%for message in messages%}
                            <div class="alert alert-danger">
                                <strong>Erro!</strong> {{message}}
                            </div>
                            {%endfor%}
                    <form enctype="multipart/form-data" method="POST" action="submit"> {% csrf_token %}
                        <input type='file' id="imgInp"  name="myfile"/>
                        <img class="invisivel" id="blah" src="#" alt="your image" />
                        <input type="submit" value="Enviar" class="sub">
                    </form>

                </div>
            </div>
            <!-- <div class="card-footer text-center">
                <button class="btn btn-primary">Enviar</button>
            </div> -->
        </div>
    </div>


    <!-- Importando arquivos JS-->
    <script src="../static/jquery-3.4.1.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>